<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IguanaSQLConn" connectionString="SQLSERVER|Server=128.0.17.16;Database=EHR_CPOE;user id=sqladmin;password=microsoft;Connect Timeout=300;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>