<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IBLL" value="Iguana.Tools.IBLL"/>
    <add key="BLL" value="Iguana.Tools.BLL"/>
    <add key="IDAL" value="Iguana.Tools.IDAL"/>
    <add key="DAL" value="Iguana.Tools.DAL"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>